.loginForm {
    width: 45%;
    margin: auto;
}

.mainLogin {
    margin: auto;
    height: 110%;
    width: 45%;
    background-color: #343a40!important;
    border-radius: 2%;
}

h2 {
    padding: 3% 35%;
    margin: 0 auto;
    color: azure ;
}